.chartsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.chartButtons {
    display: flex;
    justify-content: center;
}

.chartButtons button {
    padding: 5px 15px;
    margin: 0 5px;
    background-color: #C7BEBE;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chartButtons button:hover {
    background-color: #9c9191;
}

.chartContent {
    width: 100%;
}

@media (max-width: 768px) {
    .chartsContainer {
      padding: 10px;
    }
  
    .chartButtons {
      flex-direction: column;
      gap: 5px;
    }
  
    .chartButtons button {
      width: 100%;
      padding: 8px 16px;
    }
  
    .chartContent {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
      }
  }
  /* Media query for devices with a width of 400px or less */
@media (max-width: 400px) {
    .chartContent {
        padding: 0 10px;
        max-width: 375px;
    }
}