.chartsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.chartButtons {
    display: flex;
    justify-content: center;
}

.chartButtons button {
    padding: 5px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chartButtons button:hover {
    background-color: #0056b3;
}

.chartContent {
    width: 100%;
}