.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Align the button to the left */}

.addGoalButton {
  width: 75px;
  height: 45px;
  /* padding: 20px 20px; */
  background-color: #C7BEBE;
  color: #000000;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 14px; /* Adjust font size as needed */
  display: flex;
  justify-content: start;
  align-items: center;
}

.addGoalButton:hover {
  background-color: #9c9191;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "section1And4 section2"
  "section1And4 section3";
  /* gap: 20px; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.section1And4 {
  grid-area: section1And4;
  display: flex;
  flex-direction: column;
  gap: 365px;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
  margin-top: 80px;
  margin-left: 470px;
  /* justify-self: start; Align to the start of the grid cell */
  /* align-self: start; Align to the start of the grid cell */
}


