html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #C7BEBE; /* Set background color for the entire page */
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Align the button to the left */}

.addGoalButton {
  width: 120px;
  height: 45px;
  padding: 10px 20px;
  background-color: #DCD9D9;
  color: #000000;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 13px; /* Adjust font size as needed */
  display: flex;
  justify-content: start;
  align-items: center;
}

.addGoalButton:hover {
  background-color: #9c9191;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "section1 section2"
    "section4 section3";
  gap: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.section1 {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
  margin-left: 470px;
  /* justify-self: start; Align to the start of the grid cell */
  /* align-self: start; Align to the start of the grid cell */
}

.section4 {
  grid-area: section4;
}
