
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box; /* Ensure padding is included in the height and width */
  background-color: #DCD9D9; 
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  flex: 1; /* Ensure the main content takes up the remaining space */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
